<html>
    <head>
        <title>Pokedex Web</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script></head>

        <script src="../js/welcome.js"></script>
    <body>
        <div class="jumbotron"><h1>Bienvenido</h1></div>
        <div class="container-sm">
            <div class="d-flex justify-content-center">
                <div class="col-8">
                    <div class="form-group">
                        <label for="email">Nombre de usuario o correo electronico:</label>
                        <input type="email" class="form-control" placeholder="VivaJose420 o superman007@gmail.com"
                            id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input type="password" class="form-control" placeholder="A strong and complicated password" id="pwd" required>
                    </div>
                    <button type="button" class="btn btn-primary" id="btn-login">Hacer login</button>
                    <button type="button" class="btn btn-danger"><a href="views/register.html"style="color: white;">Registrarse</a></button>
                    <div class="alert alert-danger alert-dismissible" style="display:none;" id="error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>ERROR!</strong> Login incorrecto.
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h5>Usuarios</h5>
            <ul id="users">

            </ul>
        </div>
    </body>
</html>